body {
    background:url('../images/pic_bg@2x.png');
}
.icon {
    margin-top: 2.88rem;
    margin-left: 3.173333rem;
    height: 2.906667rem;
    width: 2.906667rem;
    border-radius: 50%;
    border: 0.026667rem solid #1d148b;
    text-align: center;  
}
.icon img {
    height: 2.88rem;
    width: 2.88rem;
}
.inputBox {
    margin-top: 2rem;
    margin-left: 1.013333rem; 
    font-size: 0.4rem;
    color: #fff;
    opacity: 0.7;
}
.number {
    border-bottom: 0.013333rem solid #ccc;
    padding-bottom: 0.4rem;
    width: 8rem;
}
.number input {
    padding-left: 0.133333rem;
    font-size: 0.346667rem;
    color: #fff;
}
.iphone {
    padding-left: 0.986667rem;
}
.pwd {
  padding-top: 0.426667rem;
  border-bottom: 0.013333rem solid #ccc;
  padding-bottom: 0.4rem;
  width: 8rem;
}
.pwd input {
    color: #fff;
    font-size: 0.346667rem;
    padding-left: 0.986667rem;
}
.inputBox .register {
    padding-top:0.266667rem; 
}
.register a {
    color: #fff;
    font-size: 0.346667rem;
    opacity: 0.3;
    text-decoration:underline;
}
.forget {
    padding-left: 5.453333rem;
}
.login {
    text-align: center;
    margin-top: 1.973333rem;
}
.login img{
   
    height: 1.173333rem;
    width: 4.373333rem;
}