body {
    background: url('../images/friend_bg.png') no-repeat;
    background-size:100% 100%;
}
header{
	height: 1.12rem;
	line-height: 1.12rem;
	font-size: 0.463333rem;
	text-align: center;
	color: #fff;
	position: fixed;
	left:0px;
    top:0.533333rem;
	width:100%;
    z-index: 100; 
    
  }
  header a {
	  display: inline-block;
	  width: 0.226667rem;
	  height:0.4rem;
	 left:0.366667rem;
	 top: 0.366667rem;
	 position: absolute;
  }
 .back {
	 background: url('../images/back.png') no-repeat;
	 background-size: 100% 100%;
 }
 .btn{
    left: 3.173333rem;
    bottom: 4.026667rem;
  }
  .btn img{
    width: 3.653333rem;
  }
 .msg{
    bottom: 0;
    left: 0;
    padding: 0 1.173333rem 0.746667rem 1.146667rem;
  }
  .msg span{
    font-size: 0.4rem;
    color: #fff;
    height: 0.4rem;
    line-height: 0.4rem;
  
  }
  .msg .friend{
    margin-right: 1.6rem;
  }
  .msg .num{
    margin-right: 1.066667rem;
  }
  .one{
    margin-bottom: 0.64rem;
  }
  .title{
    width: 10rem;
    top: 0.906667rem;
    left: 0;
    text-align: center;
    font-size: 0.426667rem;
    color: #fff;
  }
  