
body {
  background: #eee;
}
.main {
  background: #eee;
  padding: 0.56rem 0.346667rem;
}
.main .content {
  border-radius: 0.4rem;
  width: 100%;
  height: 9.706667rem;
  background: #fff;
  padding: 0.4rem;
  box-sizing: border-box;
}
.main .content ul li {
  margin-bottom: 0.56rem;
  overflow: hidden;
}
.main .content ul li .keys {
  float: left;
  font-size: 0.4rem;
  line-height: 0.4rem;
  margin-right: 1.706667rem;
  color: #333;
}
.main .content ul li .values {
  float: left;
  font-size: 0.4rem;
  line-height: 0.4rem;
  color: #999;
}
.main .content ul li .status {
  float: left;
}
.main .content ul li .status ul li {
  font-size: 0.4rem;
  line-height: 0.4rem;
}
.main .content ul li .status ul .finish {
  color: #53e672;
}
.main .content ul li .status ul .doing {
  color: #ff4141;
}
.main .content ul li .status ul .isno {
  color: #999;
}
